* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.icons-section {
    background-color: lightgray;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.icon {
    width: calc( ( 100% / 5 ) - 50px );
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.icon i {
    font-size: 40px;
}